<!DOCTYPE html>
<html>
  <head>
    <title>Stock Market Chart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    
    
    <div class="content-container">

      <h1  class="w3-text-gray"><%= title %></h1>
      <code style="font-size: 16px">[Powered By Quandl][Created By Ivan]</code>
       
      <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
      
      <div class="w3-container">
        <p></p>
        <ul id="stock-items" class="w3-ul">
        </ul>
        <form class="w3-row w3-margin-bottom" style="margin-top: 30px;">
          <input class="w3-input w3-border w3-col m10 s8" type="text" placeholder="Add stock symbol." name="search_location" required>
          <button class="w3-button w3-blue-gray w3-border w3-col m2 s4" type="submit">Add</button>
        </form>
      </div>

    </div>
    
    
    
    <script src="/javascripts/chart.js"></script>
    <script src="/javascripts/socket-io-client.js"></script>
  </body>
</html>
